<template>
  <v-container fluid>
    <!-- CONTACT VIEW -->
    <v-row justify="center">
      <ListContact
        title="Contacts"
        :headers="headerTable"
        :items="contacts"
        :loading="loading"
        @onCreate="handleCreate"
        @onEdit="handleEdit"
        @onDelete="handleDelete"
      />
    </v-row>
    <!-- DIALOG ADD -->
    <DialogContact
      v-model="openDialogContact"
      ref="dialogContact"
      @save="saveContact"
      @update="updateContact"
    />
  </v-container>
</template>

<script>
import ContactsService from "../services/contacts.service";

import DialogContact from "../components/DialogContact";
import ListContact from "../components/ListContact";

export default {
  name: "Contacts",
  components: {
    DialogContact,
    ListContact
  },
  data: () => ({
    openDialogContact: false,
    loading: false,
    contacts: [],
    headerTable: [
      { text: "Name", value: "name" },
      { text: "Phone", value: "phone" },
      { text: "Actions", value: "action", sortable: false }
    ]
  }),
  created() {
    this.getContacts();
  },
  methods: {
    getContacts() {
      this.loading = true;

      ContactsService.getContacts().then(contacts => {
        this.contacts = contacts;
        this.loading = false;
      });
    },
    saveContact(newContact) {
      ContactsService.saveContacts(newContact).then(contacts => {
        this.contacts = contacts;
      });
      this.toogleDialog();
    },
    updateContact(contact) {
      ContactsService.updateContact(contact).then(contacts => {
        this.contacts = contacts;
      });
      this.toogleDialog();
    },
    removeContact(contact) {
      ContactsService.removeContact(contact.id).then(contacts => {
        this.contacts = contacts;
      });
    },
    toogleDialog() {
      this.openDialogContact = !this.openDialogContact;
    },
    handleCreate() {
      this.toogleDialog();
    },
    handleEdit(item) {
      this.toogleDialog();
      this.$refs["dialogContact"].setContact(item);
    },
    handleDelete(item) {
      if (confirm("Do you really want to remove this item?")) {
        this.removeContact(item);
      }
    }
  }
};
</script>

<style lang='scss' scoped>
</style>
