<template>
  <v-dialog :value="value" @input="emmitValue" width="800px">
    <v-card>
      <v-card-title class="blue darken-2">
        <span class="title white--text">Create contact</span>
      </v-card-title>
      <v-container>
        <v-form ref="form" v-model="isValidForm">
          <v-row class="mx-2">
            <v-col class="align-center justify-space-between" cols="12" md="6">
              <v-text-field
                v-model="name"
                prepend-icon="account_circle"
                placeholder="Name"
                :rules="[v => isValidName(v) || 'Name invalid!']"
              />
            </v-col>
            <v-col cols="12" md="6">
              <v-text-field
                type="tel"
                v-model="phone"
                prepend-icon="phone"
                v-mask="'(##) #####-####'"
                placeholder="Phone"
                :rules="[v => isValidPhone(v) || 'Phone invalid!']"
              />
            </v-col>
          </v-row>
        </v-form>
      </v-container>
      <v-card-actions>
        <v-spacer />
        <v-btn text @click="emmitValue(false)">Cancel</v-btn>
        <v-btn color="primary dark" :disabled="!isValidForm" @click.stop="onSave">Save</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { Contact } from "../models/Contact";

export default {
  name: "DialogContact",
  props: {
    value: Boolean
  },
  data: () => ({
    id: "",
    name: "",
    phone: "",
    isEditing: false,
    isValidForm: false
  }),
  methods: {
    emmitValue(value = this.value) {
      this.$emit("input", value);
    },
    setContact(contact) {
      const { id, name, phone } = contact;

      this.id = id;
      this.name = name;
      this.phone = phone;
      this.isEditing = true;
    },
    isValidName(name) {
      return !!name && !name.split(" ").some(s => s.length < 3);
    },
    isValidPhone(phone) {
      return !!phone && phone.length === 15;
    },
    resetForm() {
      this.$refs["form"].reset();
    },
    onSave() {
      const { id, name, phone } = this;

      if (this.isEditing) {
        this.$emit("update", { id, name, phone });
      } else {
        this.$emit("save", new Contact({ name, phone }));
      }

      this.resetForm();
    }
  }
};
</script>

<style lang='scss' scoped>
</style>
