<template>
  <v-data-table
    id="GenericList"
    v-bind="{ headers, items, loading, search }"
    sort-by="calories"
    loading-text="Loading..."
    class="elevation-1"
  >
    <template v-slot:top>
      <v-toolbar flat color="white">
        <v-text-field
          v-model="search"
          append-icon="search"
          label="Search"
          single-line
          hide-details
          flat
          solo
        />
        <v-spacer></v-spacer>
        <v-btn color="primary" @click="onCreate" class="mb-2">
          <v-icon left>add</v-icon>
          <span>New Item</span>
        </v-btn>
      </v-toolbar>
    </template>
    <!-- BODY TABLE -->
    <template v-slot:body="{ items }">
      <tbody>
        <tr v-for="(item, i) in items" :key="i" :class="{'blue': item.phone.includes('(11)') }">
          <td v-for="(header, j) in headers" :key="j">
            <!-- CONTENT -->
            <template v-if="header.value !== 'action'">{{ item[header.value] }}</template>
            <!-- ACTIONS -->
            <template v-else>
              <v-icon class="mr-2" @click="onEdit(item)">edit</v-icon>
              <v-icon @click="onDelete(item)">delete</v-icon>
            </template>
          </td>
        </tr>
      </tbody>
    </template>
  </v-data-table>
</template>

<script>
export default {
  name: "ListContact",
  props: {
    title: String,
    headers: Array,
    items: Array,
    loading: Boolean,
    withControllers: Boolean
  },
  data: () => ({
    search: ""
  }),
  methods: {
    onCreate() {
      this.$emit("onCreate");
    },
    onEdit(item) {
      this.$emit("onEdit", item);
    },
    onDelete(item) {
      this.$emit("onDelete", item);
    }
  }
};
</script>

<style lang='scss' scoped>
#GenericList {
  min-width: 50%;
}
</style>
