<template>
  <v-app-bar :clipped-left="$vuetify.breakpoint.lgAndUp" app color="blue darken-3" dark>
    <v-toolbar-title style="width: 300px" class="ml-0 pl-4">
      <v-icon class="mr-2">contacts</v-icon>
      <span>Contacts</span>
    </v-toolbar-title>
    <v-spacer />
  </v-app-bar>
</template>

<script>
export default {
  name: "Bar"
};
</script>

<style lang='scss' scoped>
</style>
