<template>
  <v-app id="inspire">
    <Bar />
    <v-content>
      <Contacts />
    </v-content>
  </v-app>
</template>

<script>
import Contacts from "./views/Contacts";
import Bar from "./core/Bar";

export default {
  props: {
    source: String
  },
  components: {
    Contacts,
    Bar
  },
  data: () => ({
    dialog: false,
    drawer: null
  })
};
</script>
